.name {
  color: #2e2e3f;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}

.flag {
  padding: 14px 25px 14px 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.balance {
  color: #a5a5b4;
  font-size: 15px;
  padding-top: 10px;
}

.amount {
  color: #2e2e3f;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
